<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div class="interface">
          <ion-card>
            <ion-list>
              <ion-label>Accounts</ion-label>
              <ion-item *ngFor="let account of accounts">
                 <ion-label> {{ account.accounttype }}: </ion-label>
                  $ {{ account.balance }}
              </ion-item>
             
            </ion-list>
         
          <ion-button color="tertiary" expand="block" routerLink="/home">back</ion-button>
        </ion-card>
      </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> 